html,
body,
#root {
  height: 100%;
}
#modal {
  background: rgba(19, 23, 34, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* z-index: 10000; */
  top: 0;
  left: 0;
}
#modal > div {
  /* pointer-events: none; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal:empty {
  display: none;
}

#createNewTruck {
  min-width: 300px;
  min-height: 200px;
  width: 100%;
  margin: 0 100px;
  background: white;
  border-radius: 4px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  padding: 4px;
}
.row:nth-of-type(odd) {
  background: lightblue;
}

.errorMessage {
  background: red;
}

.paginate {
  display: flex;
  justify-content: space-between;
}
.pageContainer {
  display: flex;
  justify-content: space-between;
}

.removeIcon,
.editIcon {
  display: none;
}
.ag-row-hover .removeIcon,
.ag-row-hover .editIcon {
  display: inline-block;
  padding-right: 4px;
}

.flex {
  display: flex;
  align-items: end;
  justify-content: center;
}
.app .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

#createNewTruck .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.title {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#createNewTruck .title {
  margin-top: 0px;
}

.app {
  padding: 8px;
  height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.message.error {
  padding: 4px;
  background: red;
}
.message.success {
  padding: 4px;
  background: yellow;
}
.MuiInput-root-1 {
  width: 100%;
}

.textCounter {
  text-align: right;
  color: black;
}

.row.parkingAddress,
.row.description {
  max-height: 120px;
  min-height: 24px;
  height: auto;
}

.pageNumber {
  padding-top: 2px;
}
.rowContent {
  width: 50%;
}
.MuiInputBase-input-24 {
  padding-left: 10px !important;
}

.row.description .rowContent > div:first-child,
.row.parkingAddress .rowContent > div:first-child {
  width: 100%;
}
